
body {
	margin: 0;
}

header {
	height: 58.264vw;
	background: no-repeat url(Pic/imgbackground.png);
	background-size: 100vw 58.264vw;
}

.wrapper {
	height: 100%;
}

.box,
.header-main,
.holder-wrapper,
.content-wrapper,
.footer-wrapper,
.container-wrapper{
	width: 81.9%;
	margin: auto;
}

.box {
	display: flex;
	justify-content: flex-end;
}

.box-nav {
	margin: 0;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-top: 4.861vw;
	margin-bottom: 9.097vw;
}

.box-nav__item {
  font: 900 1.256vw/1.465vw robotoblack, arial, helvetica, sans-serif;
  color: #FFFFFF;
  margin-right: 4.167vw;
  transition: opacity ease-out 0.5s;
  cursor: pointer;
  opacity: 0.7;
}

.box-nav__item:hover {
  opacity: 1;
}

.box-nav__item:last-child {
	margin-right: 0;
}

 .header-main__title {
 	display: flex;
    flex-direction: column;
 }

 .header-main {
 	display: flex;
 	flex-direction: column;
 	align-items: flex-end;
 }
.header-main__title,
.header-main__subtitle,
.header-main__button {
	text-align: right;
}

.header-main__title {
	font: 900 2.85vw/3.256vw robotoblack, arial, helvetica, sans-serif;
	color: #FFFFFF;
    margin-bottom: 0.764vw;
}

.header-main__subtitle,
.header-main__button {
	font: 900 1.389vw/1.628vw robotoblack, arial, helvetica, sans-serif;
	color: #FFFFFF;
}

.header-main__subtitle {
	margin-bottom: 2.708vw;
}

.header-main__button {
  padding: 1.181vw 4.653vw;
  background-color: #E0036F;
  width: fit-content; 
  cursor: pointer;
  transition: background-color 1s ease-out;
  position: relative;
}

.header-main__button:hover {
  background-color: #0396FF;
}

.container {
	background-color: #E3EAFE;
	height: 27.569vw;
}

.container-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-wrapper__text {
	font: 500 2.083vw/2.442vw robotomedium, arial, helvetica, sans-serif;
	color: #585858;
	margin: 3.819vw 0 2.778vw 0;
	text-align: center;
	width: 92%;
}

.container-wrapper__price {
	font: 900 2.083vw/2.442vw robotoblack, arial, helvetica, sans-serif;
	color: #263B83;
	margin-bottom: 2.292vw;
}

.container-wrapper__book {
	font: 900 1.389vw/1.628vw robotoblack, arial, helvetica, sans-serif;
	color: #585858;
	cursor: pointer;
}

.container-wrapper__buttone {
	font: 900 1.389vw/1.628vw robotoblack, arial, helvetica, sans-serif;
	padding: 1.181vw 4.653vw;
    background-color: #FFDA45;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    width: fit-content; 
    margin-bottom: 1.111vw;
    cursor: pointer;
    transition: background-color 1s ease-out;
}

.container-wrapper__buttone:hover {
	background-color: #ffeca0;
}

.holder {
	height: 22.708vw;
	background-color: #405DBB;
}

.holder-wrapper {
	height: 22.708vw;
	display: flex;
	justify-content: space-between;
}

.holder-main__title {
	font: 900 2.083vw/2.442vw robotoblack, arial, helvetica, sans-serif;
	color: #FFFFFF;
	margin-top: 8.194vw;
	margin-bottom: 1.389vw;
}

.holder-main__subtitle {
	font: 900 1.4vw/1.628vw robotoblack, arial, helvetica, sans-serif;
	color: #FFFFFF;
}

.holder-wrapper__pic {
	width: 32.222vw;
	height: 22.708vw;
	background: url(Pic/pic.png) 100% 100% no-repeat;
	background-size: cover;
}

.holder-button-wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
}

.holder-button-wrapper__button {
  font: 900 1.389vw/1.628vw robotoblack, arial, helvetica, sans-serif;
  color: #000000;
  padding: 1.111vw 2.083vw;
  background-color: #FFDA45;
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 1s ease-out;
}

.holder-button-wrapper__button:hover {
  background-color: #ffeca0;
}

.content {
	height: 66.181vw;
	background-color: #E3EAFE;
}

.content-wrapper {
	height: 66.181vw;
}

.content-wrapper__text {
	font: 500 2.083vw/2.442vw robotomedium, arial, helvetica, sans-serif;
	color: #585858;
	text-align: center;
	padding: 6.111vw 0 5.486vw 0;
}

.content-items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 47.708vw;
}

.content-items__item_1 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/1.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.content-items__item_2 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/2.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.content-items__item_3 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/3.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.content-items__item_4 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/4.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.content-items__item_5 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/5.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.content-items__item_6 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/6.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.content-items__item_7 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/7.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.content-items__item_8 {
	width: 19.306vw;
	height: 19.444vw;
	background: url(Pic/8.png) 100% 100% no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.footer,
.footer-wrapper{
  height: 17.361vw;
}
 
.footer {
	background-color: #0E1E71;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 3.4vw;
}

.footer-wrapper__location {
  padding-top: 0.278vw;
}

.footer-wrapper__location,
.footer__text_first,
.footer__text_second {
	font: 900 1.250vw/1.465vw robotoblack, arial, helvetica, sans-serif;
	color: #E1E6E9;
}

.navigation-wrapper{
	display: flex;
	justify-content: space-between;
	width: 12.222vw;
}

.navigation-icon {
  background: url(Pic/Vector.svg) no-repeat;
  width: 100%;
  height: 100%;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20.486vw;
}

.footer-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 3.542vw;
}

.footer-icon {
	display: flex;
    flex-direction: row;
	height: 3.611vw;
	width: 8.542vw;
}
.footer-icon_first{
	background: url(Pic/Icon1.svg)  no-repeat;
	background-position:top;
	height: 100%;
    width: 100%;
}

.footer-icon_second{
	background: url(Pic/Icon2.svg)  no-repeat;
	background-position:top;
	height: 100%;
    width: 100%;
}

.footer-icon_first {
	padding-top: 0.278vw;
	background-size: 86%;
}

.footer-icon_second {
	padding-top: 0.556vw;
	background-size: 86%;
}

.mobile-nav {
    z-index: 9999999;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 7vw;
}

.mobile-nav__checkbox {
    display: none;
}

.mobile-nav__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.867vw;
    height: 10.133vw;
    cursor: pointer;
    transition: .4s;
    z-index: 9999;
}

.mobile-nav__icon {
  display: block;
  position: relative;
  background-color: #E1E6E9;
  width: 6.667vw;
  height: .8vw;
  transition: .4s;
}

.mobile-nav__icon::after,
.mobile-nav__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #E1E6E9;
  width: 6.667vw;
  height: .8vw;
  transition: .4s;
}

.mobile-nav__icon::after {
  top: -2.500vw;
}

.mobile-nav__icon::before {
  top: 2.500vw;
}

.mobile-nav__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
}

.mobile-nav__list {
    transition: .5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline-start: 0;
    height: 60%;
}

.mobile-nav__link {
	font: 900 8vw/9.333vw robotoblack, arial, helvetica, sans-serif;
	color: black;
	text-decoration: none;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__nav {
  opacity: 1;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__container {
  height: 100%;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon {
  background: transparent;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before,
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  top: 0;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #172f27;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #172f27;
}

.content-nav__item {
  	width: 10px;
  	height: 10px;
  	background-color: #C4C4C4;
  	border-radius: 50%;
  }

  .content-nav__item:hover {
    background-color: #405DBB;
    transition: 0.7s;
  }

@media (min-width: 800px) and (max-width: 1200px) {
  .navigation-icon {
    background-size: 69%;
  } 
}

@media (min-width: 801px) {
  .mobile-nav,
  .content-nav__item {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 800px) {

  .box {
  	display: none;
  }

  header {
    height: 104.375vw;
    background: no-repeat url(Pic/background-mobil.png);
    background-size: 100%;
  }

  .header-wrapper {
  	width: 81.9%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.188vw;
  }

  .header-main {
    align-items: center;
  }

  .header-main__title {
    font: 900 9.5vw/10.987vw robotoblack, arial, helvetica, sans-serif;
    text-align: center;
    margin-bottom: 2.1vw;
  }

  .header-main__subtitle,
  .header-main__button {
  	font: 900 4.688vw/5.494vw robotoblack, arial, helvetica, sans-serif;
  }

  .header-main__subtitle {
  	margin-bottom: 34.4vw;
  	text-align: center;
  }

  .header-main__button {
    padding: 4.5vw 32.8vw;
  }

  .container,
  .container-wrapper {
  	height: 92.188vw;
  }

  .container-wrapper {
  	width: 81.9%;
  	margin: auto;
  }

  .container-wrapper__text {
    font: 500 6.250vw/7.325vw robotomedium, arial, helvetica, sans-serif;
    margin: 7vw 0 2.778vw 0;
    width: 90%;
  }

  .container-wrapper__price {
    font: 900 6.250vw/7.325vw robotoblack, arial, helvetica, sans-serif;
    color: #263B83;
    margin-bottom: 5.2vw;
  }

  .container-wrapper__buttone {
    font: 900 6.250vw/7.325vw robotoblack, arial, helvetica, sans-serif;
    padding: 3.5vw 30.3vw;
    color: black;
    margin-bottom: 9vw;
  }

  .container-wrapper__book {
    font: 900 6.250vw/7.325vw robotoblack, arial, helvetica, sans-serif;
  }

  .holder{
  	height: 138.125vw;
  	display: flex;
  }
  
  .holder-wrapper {
  	flex-direction: column;
  	display: flex;
  	height: 138.125vw;
  	text-align: center;
  }

  .holder-main__title {
    font: 900 6.250vw/7.325vw robotoblack, arial, helvetica, sans-serif;
    margin-top: 11.6vw;
    margin-bottom: 1.389vw;
  }

  .holder-main__subtitle{
  	font: 900 3.125vw/3.663vw robotoblack, arial, helvetica, sans-serif;
  }

  .holder-wrapper__pic {
    width: 81.5vw;
    height: 69.3vw;
    background: url(Pic/pic2.png) 100% 100% no-repeat;
    background-size: cover;
    margin-bottom: 1.9vw;
  }

  .holder-button-wrapper__button {
    font: 900 6.250vw/7.325vw robotoblack, arial, helvetica, sans-serif;
    padding: 3.4vw 19.1vw;
    color: black;
    margin-bottom: 12vw;
    box-shadow: 0.347vw 0.347vw 1.389vw rgba(0, 0, 0, 0.25);
  }

  .content {
    height: 147.188vw;
  }

  .content-wrapper {
    height: 147.188vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-items__item_2,
  .content-items__item_3,
  .content-items__item_4,
  .content-items__item_5,
  .content-items__item_6,
  .content-items__item_7,
  .content-items__item_8 {
  	display: none;
  }

  .content-wrapper__text {
    font: 500 6.250vw/7.325vw robotomedium, arial, helvetica, sans-serif;
    padding: 10.6vw 0 8.9vw 0;
    width: 70.313vw;
    margin: 0 auto;
  }
  
  .content-items {
    height: 81.250vw;
  }

  .content-items__item_1 {
    width: 118.125vw;
    height: 81.250vw;
  }

  .content-nav {
  	display: flex;
  }

  .content-nav__item {
  	display: flex;
  }

  .content-nav-wrapper {
  	display: flex;
  	height: 100%;
  	justify-content: center;
  }

  .content-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 79%;
  }

  .footer-wrapper {
    padding-top: 5.1vw;
  }

  .footer,
  .footer-wrapper {
  	height: 28.750vw;
  }

  .footer-wrapper__location {
  	font: 900 2.500vw/2.931vw robotoblack, arial, helvetica, sans-serif;
  	cursor: pointer;
  }

  .footer__text_first {
  	font: 900 2.500vw/2.931vw robotoblack, arial, helvetica, sans-serif;
  }
  
  .footer__text_second {
  	font: 900 2.500vw/2.931vw robotoblack, arial, helvetica, sans-serif;
  }

  .navigation-wrapper {
    width: 24.4vw;
  }

  .navigation-icon {
   background-size: 69%;
   cursor: pointer;
  }

  .footer-box {
  	width: 38vw;
  }

  .footer-icon_first,
  .footer-icon_second {
  	background-size: 88%;
  	cursor: pointer;
  }

  .footer-text {
  	height: 6.542vw;
  }

  .footer-icon {
    height: 12.611vw;
    width: 14.542vw;
  }

}